body{
  width: 100%;
  padding: 0;
  margin: 0;
}
.header{
 padding: 0;
 margin: 0;
 width: 100%;
}
.header ul {
  display: flex;
  justify-content: center;
}
.header ul li {
  list-style: none;
  padding: 10px;
  margin: 0px 10px;
  border-radius: 5px;
}
.style-header{
  background-color: yellow;
}
.list{
  padding: 10px 40px;
  display: flex;
  justify-content: flex-start;
}
.list-product{
  position: relative;
  width: auto;
  border: 1px solid #e2e1e1;
  border-radius: 5px;
  margin: 10px;
  padding-bottom: 10px;

}
.list-product img{
 width: 400px;
 height: 400px;
}
.detail-list{
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e2e1e1;
  top: 350px;
  z-index: 1;
  border-radius: 5px;
  margin: 0px 20px;
  background-color: white;
}
.detail-list p{
  padding-left: 10px;
}
@media (max-width: 800px) {
  .list {
    flex-direction: column;
  }
}